body {
    background: #bbbbbb;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 3vw;
    text-align: center;
    font-size: 15px;
}

.quiz-container {
    padding: 5% 20%;
}

.left {
    float: left;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(62, 63, 133);
    color: #fff;
    
}

.time {
    float: right;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: rgb(62, 63, 133);
}

.score {
    display: inline;
    font-weight: bold;
}

#question {
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(62, 63, 133);
}

.choice-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.choice-container:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(62, 63, 133);
}

.choice-prefix {
padding: 0 20px;
}

.choice-text {
padding: 0 5px;
}

.container h1 {
    text-align: center;
    size: 40px;
}

#prompt {
    padding-bottom: 50px;
}

#start-button {
    width: 250px;
    height: 60px;
    font-size: 24px;
    padding: 25px 100px;
    border-radius: 15px;
    background-color: rgb(62, 63, 133);
    text-decoration: none;
    color: #fff;
}

#start-page {
    text-align: center;
    padding: 5vw;
}